/*@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');*/
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900');



.aling-center{float:none;margin:0 auto;text-align:center;}
.aling-right{float:right;text-align:right;}
.aling-left{float:left;text-align:left;}

html,
body,
header
{
    font-family: 'Rubik', sans-serif;
    font-weight: 300!important;

}

.card{
    font-weight: 300;
}

.small{
    font-weight: 300!important;
}

.badge{
    font-weight: 400!important;
}

/*.number{
  font-family: 'Lato', sans-serif;
}*/

:root{
    --color-primary: #69327F;
    --color-dark: #4e245e;
    --color-accent: #34c2e0;
    --color-gray: #E6EBEB;
    --color-orange: #FDBE46;
    --danger-color: #ff4444;
}


.text-black{
  color: #212121!important;
}

.grey-text {
    color: #212121!important;
}

.btn{
  font-weight: 500!important;
  width: 220px;
}


.button-accent{
    background-color: var(--color-accent)!important;
    color: #fff!important;
}

.button-danger{
    background-color: var(--danger-color);
    color: #fff;color: #212121!important;
}

.my-background{
    height: 100%;
    background-color: var(--color-dark)!important;
}

.message{
    margin: .375rem;
    border: 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: 1rem;
    color: white;
    font-weight: 400;
    font-style: italic;
}
.btn-rounded {
    -webkit-border-radius: 10em;
    border-radius: 10em;
}

@font-face {
     font-family: pontuou;
     src: url('../font/pontuou/pontuou.otf');
}
