.name-list-client{
  font-size: 1.2rem;
}

.star-list-client{
  font-size: 1rem;
  color:  var(--color-orange);
}

.navbar-toggler{
  margin-top: 8px;
}

.navbar-brand{
  height: 8%;
}

.navbar-nav{
  text-align: right;
  font-size: 14px;
}

.btn{
  font-size: .7rem!important;
}

.font-logo{
  margin-left:  -5px;
  font-family: 'pontuou';
  font-size: 16px;
  font-weight: 500;
  color: #FFF;
  text-align: right;
}

@media (max-width: 992px){
  .navbar .nav-item .nav-link {
      padding-right: 5px;
  }
}

.fa-plus, .fa-minus {
  border-radius: 50%;
  padding: 15px;
  background-color: var(--color-primary);
  color: #fff;
  margin: 10px;
}


.confirm-stamp{
  margin-top: 6%;
}

.firsbtuy{
  margin-top: 12%;
}

.stamp{
  margin-top: 0%;
}

@media (max-width: 570px){
  .list-star{
    display: block;
  }
  #star-divider{
    display: none;
  }
}

.btn-wpp{
  display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}

@media screen and (max-width: 600px) {
  .firsbtuy{
    margin-top: 1%;
  }

  .logo{
    margin-top: 15%!important;
  }

  .confirm-stamp{
     margin-top: 1%;
  }

}

.money{
  font-size: 2rem;
  color: #3e6a18;
  margin-left: -35px;
}

#labelMoney{
  padding-right: 14px;
}

.input-qtd-start {
  padding: 0px;
  width: 40px;
  font-size: 20px;
  text-align: center;
}

.input-value-start {
  padding: 0px;
  width: 80px;
  font-size: 30px;
  text-align: center;
  border: 2px solid var(--color-primary);
  border-radius: 2px;
}

input {
  border:none;
}

@media screen and (max-width: 500px) {
  .navbar{
    /*padding-top: 5%;*/
    padding-bottom: 2%;
  }
}

.item-init{
    border-top: #ffffff 0.5px solid;
}

.navbar-nav .nav-link {
    padding-right: 5px;
}

.navbar .navbar-toggler {
    padding-bottom: 10px;
}

.icon-nav{
  font-size: 20px;
  padding-left: 15px;
}

.title{
  font-size: 40px;
  margin-top: -28px;
  margin-bottom: -10px;
  color: #FFF;
}

input:disabled, textarea:disabled {
    background-color: #fff;
    color: #212121!important;
}


.horizontalCenter{
  margin-top: 2%;
}


.some-text{
  color: #fff;
  font-size: 25px;
}

#cards{
    padding-top: 20px;
}
.item-card{
    padding: 0 5px 0 5px;
}

.my-cards{
  font-size: 10px!important;
}

.form-control{
    font-size: 16px;

}
.title-card{
  font-size: 20px;
}


.loader{
    width: 100%;
    height: 100%;
    background: url(../img/loader.gif) center no-repeat;
    border-radius: 0.25em;
    padding: 40px 0px;
}

.loader > * {
    display: none !important;
}


.stars {
  margin-bottom: 8px;
    margin-right: 5px;
    position: relative;
    display: inline-block !important;
    width: 40px !important;
}

.div-stars {
    width: 260px!important;
}

.star--shadowed {
  -webkit-filter: drop-shadow(0px 0px 1px #feda44);
  filter: drop-shadow(0px 0px 1px #feda44);
}

 .logo{
    margin-top: 2%;
    margin-bottom: -3%;
    width: 160px;
}

tspan{
  font-size: 12px;
}

/*************************MENU*************************/
/* Icon 1 */

a, a.disabled:hover, a:disabled:hover {
    color: #ffffff;
}

a:hover{
  font-weight: 700;
  color: #fff;
}

.navbar {
    background-color:  var(--color-primary)!important;
}

.navbar-brand{
  color: #fff;
}

.animated-icon1, .animated-icon3, .animated-icon4 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span, .animated-icon3 span, .animated-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {
    background: #e65100;
}

.animated-icon3 span {
    background: #e3f2fd;
}

.animated-icon4 span {
    background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/

.animated-icon3 span:nth-child(1) {
  top: 0px;
}

.animated-icon3 span:nth-child(2), .animated-icon3 span:nth-child(3) {
  top: 10px;
}

.animated-icon3 span:nth-child(4) {
  top: 20px;
}

.animated-icon3.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon3.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */

.animated-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon4 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon4 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}
/************************MENU*************************/

.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    outline: 0;
    height: 38px;
    line-height: 2.9rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 .94rem 0;
    padding: 0;
    display: block;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.select-wrapper .select-dropdown {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button, input {
    overflow: visible;
}

.select-wrapper .select-dropdown {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* user-select: none; */
}

.select-wrapper ul {
    list-style-type: none;
    padding-left: 0;
}
.dropdown-content {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 6.25rem;
    max-height: 40.625rem;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width,height;
}
select, option {
  cursor: pointer;
}

.large-select {
  background:  var(--color-primary);
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  padding: 5px;
  width: 200px;
}

.large-select__no-width {
  background:  var(--color-primary);
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  padding: 5px;
}

.label-info {
  font-size: 20px;
  margin-top: -20px;
  margin-bottom: -10px;
}

#starAmount::-webkit-outer-spin-button,
#starAmount::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.iconButton {
  font-size: 15px;
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0px;
  outline: none !important;
  padding: 0;
}

.iconButton:hover{
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  outline: 0;
}

.iconButton > i {
  margin: 0;
}

/* 
  SELECTABLE CARD
*/

.selectable-card {
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
}

.selectable-card:hover {
  background-color: var(--color-primary);
  font-weight: bold;
  color: white;
  border: 2px solid white;
}


/* 
  PROGRESS BAR
*/

.progress-master {
  background-color: #c7c7c7;
  height: 25px;
  border-radius: 5px;
}

.progress-child {
  height: inherit;
  background-color: var(--color-primary);
  color: white;
  border-radius: 5px 0px 0px 5px;
  font-weight: bold;
}
